<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="task" class="block">task</label>
    <textarea name="task" id="task" formControlName="task" class="w-full bg-slate-100 border border-slate-200 rounded h-20"></textarea>
  </div>
  <div>
    <select  formControlName="status" class="w-full bg-slate-100 border border-slate-200 rounded" >
      <option value="todo">To Do</option>
      <option value="inprogess">In Progress</option>
      <option value="completed"> Completed</option>
    </select>
  </div>
  <div>
    <button type="submit" class="bg-amber-500 py-1 px-4 rounded border-amber-900 cursor-pointer mt-2">add task</button>
  </div>
</form>
